<header id="gallery__header">
  Image Gallery
</header>
{{#animated-container tagName="main" id="gallery__main"}}
  {{#each model as |model|}}
    {{#link-to "image" model class="thumbnail"}}
      {{#animated-value model as |model|}}
        <img
          alt={{model.id}}
          src={{concat "https://picsum.photos/320/240?image=" model.id}}
          srcset="{{concat "https://picsum.photos/320/240?image=" model.id}} 1x,
                  {{concat "https://picsum.photos/640/480?image=" model.id}} 2x"
        >
      {{/animated-value}}
    {{/link-to}}
  {{/each}}
{{/animated-container}}
