$mock-width: 1280px;
$mock-gutter: 60px 32px 60px;

$header-height: 118px;

$gray-1: #f5f5f5;
$gray-2: #e3e3e3;
$gray-3: #4a4a4a;
$gray-4: #ebebeb;
$gray-5: #333333;
$gray-6: #2b2b2b;

$white: #fff;
$black: #000;

$light-theme-text: $gray-3;
$light-theme-header: $gray-1;
$light-theme-stroke: $gray-2;

$dark-theme-text: $gray-4;
$dark-theme-header: $gray-5;
$dark-theme-stroke: $gray-6;

//$breakpoint-xs:  768px;
//$breakpoint-sm: (for tablets - screens equal to or greater than 768px wide)
//$breakpoint-md: (for small laptops - screens equal to or greater than 992px wide)
//$breakpoint-lg: (for laptops and desktops - screens equal to or greater than 1200px wide)

body {
  margin: 0;
  padding: 0;

  // TODO needs a reset here
}

svg {
  fill: currentColor;
}

img {
  width: 100%;
  height: auto;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  padding: 0;
}

.thumbnail {
  padding: 4px;
  box-sizing: border-box;

  flex: 0 1 50%;
}

#gallery {
  width: 100vw;
  height: 100vh;

  &__header {
    height: 59px;
    line-height: 59px;

    text-align: center;
    font-family: helvetica, arial, san-sarif;

    color: $light-theme-text;
    background: $light-theme-header;
    border-bottom: 1px solid $light-theme-stroke;
  }

  &__main {
    display: flex;
    flex-flow: row wrap;
    background: $white;
    padding: 11px;
  }
}

#image {
  display: flex;
  flex-flow: column nowrap;
  background: $black;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;

  &__header {
    height: 60px;
    padding: 20px;
    box-sizing: border-box;

    text-align: center;
    font-family: helvetica, arial, san-sarif;

    color: $dark-theme-text;
    background: $dark-theme-header;
    border-bottom: 1px solid $dark-theme-stroke;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main {
  }

  &__footer {
    height: 45px;
    padding: 15px;
    box-sizing: border-box;

    color: $dark-theme-text;
    background: $dark-theme-header;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
