{{#animated-value "image-route" use=modal initialInsertion=true finalRemoval=true duration=500}}
  <div id="image">
    <header id="image__header">
      {{#link-to "index" tagName="button"}}
        {{svg-jar "icon-back" id="image__back"}}
      {{/link-to}}

      Image {{model.id}}

      {{#link-to "index" tagName="button"}}
        {{svg-jar "icon-close" id="image__close"}}
      {{/link-to}}
    </header>
    <main id="image__main">
      {{#animated-container}}
        {{#animated-value model use=image duration=500 as |model|}}
          <img
            alt={{model.id}}
            src={{concat "https://picsum.photos/320/240?image=" model.id}}
            srcset="{{concat "https://picsum.photos/320/240?image=" model.id}} 1x,
                    {{concat "https://picsum.photos/640/480?image=" model.id}} 2x"
          >
        {{/animated-value}}
      {{/animated-container}}
    </main>
    <footer id="image__footer">
      <button>
        {{svg-jar "icon-plus-one" id="image__back"}}
      </button>
      <button>
        {{svg-jar "icon-comment" id="image__back"}}
      </button>
      <button>
        {{svg-jar "icon-add" id="image__add"}}
      </button>
      <button>
        {{svg-jar "icon-forward" id="image__forward"}}
      </button>
    </footer>
  </div>
{{/animated-value}}
